# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
env/
venv/
ENV/

# Node / React
node_modules/
dist/
build/
.oxlintrc.json
.eslintcache

# Local env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
